@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Baskervville&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200&family=Oxygen:wght@300&display=swap');

/* font-family: 'Catamaran', sans-serif;
/* font-family: 'Prata', serif; */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-image: url('/assets/img/logo-icon-01.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 15%;
}

.text-wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-image: url('/assets/img/logo-icon-01.svg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-logo {
  grid-column-start: 1;
}

.text-hamburger {
  grid-column-start: 5;
  grid-row-start: 1;
  margin-left: auto;
}

/* .text-discover {
  grid-column-start: 4;
  grid-row-start: 5;
  z-index: 10;
  display: block;
  position: relative;
  top: -25px;
} */

.materials {
  grid-column: 2 / span 2;
  grid-row-start: 5;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  z-index: 10;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  word-spacing: 10px;
  position: relative;
  top: 20px;
}

.materials-text {
  color: white;
}
.materials-tab:hover {
  text-decoration: underline;
}

.center-image-01 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 30px;
  /* place-self: center; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* .title-01 {
  place-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -200%);

  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: 50px;

  transform-origin: 0;

  z-index: 10;
  /* transform: translateZ(10px) scale(0.8); */
/* color: #ccbe2d;
 } */

/* .title-02 {
  place-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 650%);

  color: rgb(50, 165, 150);
  font-family: 'Catamaran', sans-serif;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: 50px;

  transform-origin: 0;

  z-index: 10;
  /* transform: translateZ(10px) scale(0.8); */
/* color: #ccbe2d;
 } */

/* .title-03 {
  place-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 1700%);

  color: rgb(221, 224, 22);
  font-family: 'Catamaran', sans-serif;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: 50px;

  transform-origin: 0;

  z-index: 10; */
/* color: #ccbe2d; */
/* transform: translateZ(10px) scale(0.8);
} */

/* Product Featured */
.product-featured {
  padding-top: 40px;
  padding-bottom: 100px;
}

.center-image-02 {
  /* width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  place-self: center;
  top: 50%;
  left: 50%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 30px;
}

.center-image-03 {
  /* width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  place-self: center;
  top: 50%;
  left: 50%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 30px;
}
